{
  "ios": {
    "provisioningProfilePath": "credentials/development.mobileprovision",
    "distributionCertificate": {
      "path": "credentials/development.p12",
      "password": "YOUR_P12_EXPORT_PASSWORD"
    }
  }
}
